Real_Data/*
Synthetic_Data/*
Other_tools/*
__pycache__/
Generated_Contact_Maps/
Generated_Structures/
Image_Results/*
Gifs/
Generated_Struc_Logs/
Utils/__pycached__/
.snakemake
Config/Datasets/ipsc*
Config/Datasets/synthetic*
Config/Datasets/cardio*
Config/Datasets/adipose*
Config/Hyper_Params/4d*
OTherLabs/
Utils/test_data/

